In [4]:
import pandas as pd

In [ ]:
def montlyStockStats(filename):
    df = pd.read_json(filename)

    df['date'] = pd.to_datetime(df['date'])
    df.set_index('date', inplace=True)

    df.index = df.index.to_period("M")

    df = df.groupby(df.index)['close'].agg(['min', 'max', 'mean'])
    df.index.name = None

    return df

In [30]:
montlyStockStats('amazon2017.json')

             min        max         mean
2017-01   753.67   839.1500   807.505010
2017-02   807.64   856.4401   835.745279
2017-03   843.20   886.5400   854.240009
2017-04   884.67   924.9900   903.385805
2017-05   934.15   996.7001   961.719564
2017-06   964.17  1011.3400   990.444091
2017-07   953.66  1052.8000  1008.484010
2017-08   945.26   996.1900   971.436526
2017-09   938.60   999.6000   968.992515
2017-10   957.10  1110.8500  1000.720014
2017-11  1094.22  1195.8300  1139.808095
2017-12  1133.95  1190.5800  1168.841500